:root {
    --shadow-color: #7c74e7;
    --shadow-color-light: white;
  }

*{
    box-sizing: border-box;
    color: aliceblue;
}

body{
    background-image: url("ibrahim-shabil-VE7VS0C9K1k-unsplash.jpg") ;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", "sans-serif";
    margin: 0;
}

.countdown-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
}
.big-text{
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
  color: azure;
  margin: auto;
  --shadow-color: #e290ec;
  animation: neon 3s infinite;
}

/* span{
    font-size: 15rem;
    color: aliceblue;
} */

h1{
  font-size:  2rem;
  font-weight: normal;
  --shadow-color: #642c6b;
  animation: neon 5s infinite;
}
@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }


.countdown-el{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    
}

.countdown-el span{
    font-size: 3rem;
    
    color: rgb(216, 231, 186);
    animation: neon 3s infinite;
}